{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="card-title text-center">{% block title %}Log In{% endblock %}</h1>
            <form method="post">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Log In">
              </div>
            </form>
          </div>
        </div>
        <a href="{{ url_for('auth.register') }}">Create an account</a>
      </div>
    </div>
  </div>
{% endblock %}
