@import "../bootstrap/scss/bootstrap.scss";
@import "../bootstrap/icons/font/bootstrap-icons.css";

main {
    scroll-padding-top: 8rem;
    padding-top: 8rem;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}