<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "asset_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <script src="{{ url_for('static', filename='bootstrap/js/color-modes.js') }}"></script>
    <title>{% block title %}Printer Cam{% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'components/top_bar.html' %}
    </header>
    <main class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </main>
    {% include 'components/theme_selector.html' %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>