<nav class="navbar navbar-expand-md fixed-top bg-dark" data-bs-theme="dark">
  <div class="container-xl">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <i class="bi bi-record-btn-fill me-2"></i>PrinterCam
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">


        {% if not g.user %}
          <!-- Navbar Items for Non-logged-in Users -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
          </li>
        {% endif %}
        {% if g.user %}
          <!-- Navbar Items for Logged-in Users -->
          <li class="nav-item dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ g.user['username'] }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" href="#aboutModal">About</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
              <!-- Add more dropdown items as needed -->
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-2">About</h2>
        <p>Printer Cam was made with ❤️ by Angelo Tadres.</p>
        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4"/>
            <div>
              <h5 class="mb-0">Hostname</h5>
              <span id="info-hostname"/>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h5 class="mb-0">Local IP</h5>
              <span id="info-localip"/>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h5 class="mb-0">System</h5>
              <span id="info-system"/>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h5 class="mb-0">Version</h5>
              <span id="info-version"/>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h5 class="mb-0">Architecture</h5>
              <span id="info-architecture"/>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Great, thanks!</button>
      </div>
    </div>
  </div>
</div>





<script>
  // Function to update the modal content with system information
  function updateSystemInfo(data) {
    document.getElementById('info-hostname').innerHTML = data.hostname;
    document.getElementById('info-localip').innerHTML = data.hostname;
    document.getElementById('info-system').innerHTML = data.system;
    document.getElementById('info-version').innerHTML = data.version;
    document.getElementById('info-architecture').innerHTML = data.architecture;
  }

  // Function to fetch system information when the modal is shown
  function fetchSystemInfo() {
      fetch('/system_info')
          .then(response => response.json())
          .then(updateSystemInfo)
          .catch(error => console.error('Error fetching system info:', error));
  }

  // Trigger the fetch when the modal is shown
  document.getElementById('aboutModal').addEventListener('show.bs.modal', fetchSystemInfo);
</script>